{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус</th>
      <th>Способ оплаты</th>
      <th>Стоимость заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Комментарий</th>
      <th>Рестораны</th>
      <th>Ссылка на админку</th>
    </tr>

    {% for order_with_restaurants in orders_with_restaurants %}
      <tr>
        <td>{{ order_with_restaurants.order.id }}</td>
        <td>{{ order_with_restaurants.order.get_status_display }}</td>
        <td>{{ order_with_restaurants.order.get_payment_method_display }}</td>
        <td>{{ order_with_restaurants.order.total_price }} ₽</td>
        <td>{{ order_with_restaurants.order.firstname }} {{ order_with_restaurants.order.lastname }}</td>
        <td>{{ order_with_restaurants.order.phonenumber }}</td>
        <td>{{ order_with_restaurants.order.address }}</td>
        <td>{{ order_with_restaurants.order.comment }}</td>
        <td>
          {% if order_with_restaurants.order.assigned_restaurant %}
            Готовит ресторан {{ order_with_restaurants.order.assigned_restaurant.name }}
          {% else %}
            <details>
              <summary>Может быть приготовлен ресторанами:</summary>
              <ul>
                {% for restaurant in order_with_restaurants.restaurants %}
                  <li>{{ restaurant.name }}</li>
                {% empty %}
                  <li>Нет доступных ресторанов для всех товаров</li>
                {% endfor %}
              </ul>
            </details>
          {% endif %}
        </td>
        <td>
          {% with return_url=request.get_full_path %}
            <a href="{% url 'admin:foodcartapp_order_change' order_with_restaurants.order.id %}?next={{ return_url|urlencode }}">Редактировать</a>
          {% endwith %}
        </td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
